* {
  /* box-sizing: border-box; */
}

:focus {
  /* TODO */
}

body {
  /* TODO */
  background-color: black;
}

input {
  /* TODO */
}

.search-container {
  /* TODO */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* align-items: center; */
  width: 400px;
  height: 400px;
  margin: auto;
}
.search-container input,
.search-container .suggestions {
  /* TODO */
  width: 250px;
  padding: 5px;
}
.search-container input {
  /* TODO */
}
.search-container .suggestions {
  /* TODO */
  display: relative;
  height: 300px;
  visibility: hidden;
  height: 300px;
}

ul {
  /* TODO */
  background-color: white;
  list-style-type: none;
  margin: 0px;
  padding: 5px;
  visibility: hidden;
}
ul.has-suggestions {
  /* TODO */
  visibility: visible;
}
ul li {
  /* TODO */
  margin: 0px;
  padding: 5px;
}
ul li:hover {
  /* TODO */
}

input {
  /* TODO */
}
